<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="container mt-5">
            <div class="row">
                <div class="col-8 offset-2">
                    <h2>Mein Notizblock</h2>
                    <h5><note-count-component></note-count-component></h5>
                    <hr>
                    <div class="card-columns">
                        <div
                            class="card bg-warning"
                            v-for="(note, index) in notes"
                            :key="index"
                        >
                            <div class="card-body">
                                <button 
                                    class="close"
                                    @click="deleteNote(note.timestamp)"
                                >
                                    <span>&times;</span>
                                </button>
                                <h5 class="card-title">Notiz #{{ index + 1 }}</h5>
                                <h6 class="card-subtitle mb-2 text-dark">{{ note.timestamp }}</h6>
                                
                                <p 
                                    class="card-text"
                                    @dblclick="editNote(note)"
                                    v-if="!activeEditNote || note.timestamp !== activeEditNote.timestamp"
                                >
                                    {{ note.note }}
                                </p>

                                <textarea 
                                    class="form-control"
                                    v-if="activeEditNote && note.timestamp === activeEditNote.timestamp"
                                    v-model="activeEditNoteContent"
                                    @keydown.ctrl.83.prevent="updateNote"
                                >{{ activeEditNote.note }}</textarea>
                                
                            </div>

                        </div>
                    </div>

                    <hr>

                    <input-component
                        :placeholder="placeholder"   
                    ></input-component>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>

   
    <script src="./main.js"></script>
    
</body>
</html>